<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding class="card-background-page">
  <ion-card>
    <img src="assets/imgs/2.jpg"/>
    <div class="card-title">Toktok</div>
    <ion-card-content>
      Improvement of the lifestyle of people living in the less populated areas of the city
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <img src="assets/imgs/1.jpg"/>
    <div class="card-title">Commuters</div>
    <ion-card-content>
      People with no means of transportation can easily request their desired destinations
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/3.jpg"/>
    <div class="card-title">Benefits</div>
    <ion-card-content>
      Includes booming of tourism industry of the city
    </ion-card-content>
  </ion-card>
</ion-content>
