<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Trips
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item ion-fixed class="text-bold">
      <ion-label> Name </ion-label>
      <ion-label> Fare </ion-label>
      <ion-label> # Of Passengers </ion-label>
      <ion-label> Start Location </ion-label>
      <ion-label> End Location </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item *ngFor="let trip of trips" (click)="viewTripOnMap(trip)">
      <ion-label> {{ trip.firstName }} {{ trip.lastName }}</ion-label>
      <ion-label> {{ trip.fare }} </ion-label>
      <ion-label> {{ trip.numberOfPassengers }} </ion-label>
      <ion-label> {{ trip.startLocationAddress }} </ion-label>
      <ion-label> {{ trip.endLocationAddress }} </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
